@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@font-face {
  font-family: "NVN Motherland Signature";
  src: url("../fonts/NVN-Motherland-Signature.ttf");
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .create-container {
    max-width: 900px;
    margin: 0 auto;
  }
}

.page-container {
  max-width: 1464px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.text-stroke {
  -webkit-text-stroke: 4px #1250ef;
}
